/* Color theme
#012030
#13678A
#45C4B0
#9AEBA3
#DAFDBA
*/

.rivertitle { /* Titles on the catalog page */
  padding: 0.5em;
  background-color: #012030;
}

.riversummary { /* Blurbs on the catalog page */
  padding-left: 0.75em;
}

li:hover { /* List items that are being hovered */
  background-color: #9aeba3;
}

img {
  border-color: #dafdba;
  border: solid 1pt;
}

section {
  padding: 0.2em;
  color: whitesmoke;
  background-color: #13678a;
}

nav {
  color: black;
  padding: 0.3em;
  background-color: #45c4b0;
}

header {
  padding: 0.25em;
  margin-bottom: 0.8em;
  color: whitesmoke;
  background-color: #012030;
}

footer {
  color: whitesmoke;
}

body {
  background-color: rgb(41, 41, 41);
}

figure {
  margin: 0.25em;
}